* {
  background-color: #8AD6CC;
}

div img {
  width: 100%;
}

div iframe {
  width: 100%;
  height: 100%;
}

header {
 font-size: 30px;
 margin-left: 10px;
}

p.header,
p#intro {
  font-family: "Calibri";
  font-size: 15px;
}

p#intro {
  margin-left: 10px;
}

p.title {
  font-size: 30px;
}

div.body {
  font-family: "Calibri";
}

section#personal {
  display: grid;
  grid-template-columns: minmax(300px, 500px) 1fr;
  grid-auto-rows: minmax(200px, auto);
  margin-left: 22px;
  margin-top: 22px;
  grid-gap: 30px;
}

section#visual {
  display: grid;
  grid-template-columns: minmax(300px, 500px) 1fr;
  grid-auto-rows: minmax(200px, auto);
  margin-left: 22px;
  margin-top: 22px;
  grid-gap: 30px;
}

section#video {
  display: grid;
  grid-template-columns: minmax(200px, 500px) 1fr;
  grid-auto-rows: minmax(200px, auto);
  margin-left: 20px;
  margin-bottom: 20px;
  grid-gap: 30px;
}

/*On screens 1080px or less display grid */
@media screen and (max-width: 1080px) {
  body {
    grid-template-columns: 1fr;
  }
}
